@keyframes namespin {
    0% {
        transform: rotateY(0deg);
    }
    75% {
        transform: rotateY(0deg);
    }
    80% {
        transform: rotateY(180deg) rotateX(0deg);
    }
    82% {
        transform: rotateY(180deg) rotateX(180deg);
    }
    87% {
        transform: rotateY(360deg) rotateX(360deg);
    }
    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
}