@media only screen and (max-width: 1440px) {
    main {
        height: 80%;
        width: 80%;
    }
    .previews-plane {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    main {
        height: 80%;
        width: 90%;
    }
    .previews-plane {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 750px) {
    .Name {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 500px) {
    main {
        width: 400px;
    }
    .previews-plane {
        grid-template-columns: repeat(1, 1fr);
    }
}