@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import "_var";
@import "_container";
@import "_texts";
@import "_querries";
.hr {
    width: 100%;
    height: 10px;
    background-color: #3f3f3f;
    margin: 20px 0;
}